/* CELULAS DA LISTAGEM */

.divTableLista .divTd:nth-child(1)
{
    width: 25px;
}
.divTableLista .divTd:nth-child(2)
{
    text-align: left;
    padding-left: 7px;
    width: 100px;
}
.divTableLista .divTd:nth-child(3)
{
    text-align: left;
    padding-left: 7px;
    width: 100px;
}
.divTableLista .divTd:nth-child(4)
{
    padding-left: 10px;
    text-align: left;
    width: 700px;
}
.divTableLista .divTd:nth-child(5)
{
    padding-left: 10px;
    text-align: center;
    width: 50px;
}

/* FIM - CELULAS DA LISTAGEM */