.divTd > div#groupDivs
{
    margin-left: -75px !important;
}
.divTd > div#groupDivs > div
{
    display: inline-block;
    width: 435px;
    padding: 5px 0px;
}
.divTd > div#groupDivs label
{
    display: inline-block;
    vertical-align: middle;
    width: 65px;
    text-align: right;
    padding-right: 10px;
}
.divTd > div#groupDivs input[type='file'], .divTd > div#groupDivs input[type='text']
{
    width: 350px;
}

.divTableForm .divTd:nth-child(1)
{
    width: 130px;
    text-align: right;
}
.divTableForm .divTd:nth-child(2)
{
    text-align: left;
}
.divTableForm .divTd:nth-child(3)
{
    width: 130px;
    text-align: right;
}
.divTableForm .divTd:nth-child(4)
{
    text-align: left;
}
.divTableForm .divTd:nth-child(5)
{
    width: 130px;
    text-align: right;
}