/*-- conteúdos --*/

/*-- região --*/

.tituloPadrao1 {
    width: 100%;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 22px;
    margin-bottom: 30px;
    text-align: center;
}
.tituloPadrao1 span{
    border-bottom: 3px solid #6BBA4F;
    padding-bottom: 20px;
    font-family: "microgrammadmedextregular";
    font-size: 28px;
}
.tituloPadrao2{
    width: 100%;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 22px;
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center;  
}
.tituloPadrao2 span{
    border-bottom: 3px solid #6BBA4F;
    padding-bottom: 20px;
    font-family: "microgrammadmedextregular";
    font-size: 24px;
}
.tituloPadrao3{
    width: 100%;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 22px;
    margin-bottom: 30px;
    text-align: center;
}
.tituloPadrao3 span{
    border-bottom: 3px solid #6BBA4F;
    padding-bottom: 22px;
    font-family: "microgrammadmedextregular";
    font-size: 20px;
}

.destaques{
    margin-bottom: 50px;
}
.destaques .fundoFoto{
    background-color: rgba(51,51,51,0.6);
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
.destaques h1.categoria{
    float: left;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 13px;
    margin-right: 10px;
}
.destaquePrincipal{
    height: 15rem;
    border-radius: 3px;
    margin-bottom: 20px;
}
.destaquePrincipal .noticiaPrincipal{
    height: 15rem;
    border-radius: 3px;
}
.destaquePrincipal .noticiaPrincipal .infPrincipal{
    margin-top: 17%;
    float: left;
    padding: 25px;
    color: #ffffff;
    font-size: 2rem;
}
.destaquePrincipal .noticiaPrincipal .infPrincipal h3{
    font-size: 1.5rem;
}
.destaquePrincipal .noticiaPrincipal .infPrincipal p{
    font-size: 16px;
}

.destaque .noticia{
    height: 16.4rem;
    border-radius: 3px;
}
.destaque .noticia .inf{
    margin-top: 25%;
    float: left;
    padding: 10px;
    color: #ffffff;
}
.destaque .noticia .inf h3{
    font-size: 20px;
}
.destaque .noticia.ultima{
    margin-top: 20px;
}

.outrasNoticias .noticia{
    padding-left: 0px;
}
.outrasNoticias .noticia .wrapCategoria{
    margin: 20px 0px;
}
.outrasNoticias .noticia .wrapCategoria .categoria{
    padding: 5px 15px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;  
}
.outrasNoticias .noticia h2{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}
.outrasNoticias .noticia .dataNoticia{
    color: #666666;
} 
.publicidade{
    margin: 20px 0;
}
.publicidade img{
    max-width: 100%;
}
.publicidade .wrapBanner{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px;
}
.promocoesEventos{
    padding:30px 0;
}
.promocoesEventos a, .promocoesEventos a:hover{
    color: #ffffff;
    text-decoration: none;
}
.promocoesEventos .promocaoEvento{
    margin-bottom:25px;
    float: left;
    width: 100%;
}
.promocoesEventos .promocaoEvento h3{
    font-size: 20px;
}
.promocoesEventos.promocoesEventos_bc{
    background: url(../img/redes_bc.jpg);
    background-size: 200%;
}
.promocoesEventos.promocoesEventos_bl{
    background: url(../img/redes_bl.jpg);
    background-size: 200%;
}
.promocoesEventos.promocoesEventos_lg{
    background: url(../img/redes_lg.jpg);
    background-size: 200%;
}
.promocoesEventos .wrapFoto{
    border: 1px solid #fff;
    padding: 7px;
    float: left;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.promocoesEventos .wrapFoto .foto{
    overflow: hidden;
    max-height: 180px;
}
.promocoesEventos .wrapFoto .foto img{
    max-width: 100%;
}
.promocoesEventos .link_descricao.mais{
    text-align: center;
    width: 100%;
    display: block;
    font-weight: bold;
}
.promocoesEventos .evento{
    margin-top: 20px;
}
.progEnqMsg{
    margin-bottom: 50px
} 
.progEnqMsg h3{
    font-size: 16px;
    margin: 15px 0;
}
.progEnqMsg .programa{
    margin-bottom: 15px
}
.progEnqMsg .btVerMais{
    font-weight: bold;
    color: #a8a9aa;
    text-decoration: none;
    margin-top: 8px;
    text-align: center;
    display: block;
} 
.progEnqMsg .wrapProgramacao{
    border: 1px solid #f3f3f3;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.progEnqMsg .wrapProgramacao .programacao{
    border-bottom: 1px solid #f3f3f3;
    float: left;
    width: 100%;
    padding: 15px;
}
.progEnqMsg .wrapProgramacao .programacao .foto{
    max-width: 100px;
    max-height: 70px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    text-align: center; 
}
.progEnqMsg .wrapProgramacao .programacao .foto img{ 
    max-height: 70px;
}
.progEnqMsg .wrapProgramacao .programacao h3{ 
    font-size: 16px;
    argin-top: 5px;
}
.progEnqMsg .wrapProgramacao .programacao p{ 
    color: #666666;
}

.progEnqMsg .wrapEnquete{
    border: 1px solid #f3f3f3;
    position: relative;
    float: left;
    width: 100%;
}
.progEnqMsg .wrapEnquete .respostas{
    border-bottom: 1px solid #f3f3f3;
    float: left;
    width: 100%;
    padding: 15px;
}
.progEnqMsg .wrapEnquete .respostas .resposta{
    float: left;
    margin-right: 20px;
}
.progEnqMsg a.btEnviarResposta, .progEnqMsg a.btEnviarResposta:hover{
    background-color: #2d82a5;
    float: left;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 15px;
    margin-top: 7px;
}

.progEnqMsg .wrapEnquete .msgRetornoResposta{
    min-height: 260px;
    text-align: center;
    padding-top: 50px;
}
.progEnqMsg .enquete{
    margin-bottom: 20px
}
.progEnqMsg .wrapSemEnquete{
    position: relative;
    float: left;
    width: 100%;
}

.progEnqMsg .wrapSemEnquete p{
    text-align: center;
    font-size: 16px;

}
.wrapMensagemDoDia a, .wrapMensagemDoDia a:hover{
    display: block;
    position: relative;
}
.wrapMensagemDoDia .btPlayYoutube{
    position: absolute;
    top: 39%;
    left: 39%;
}
/*-- FIM classe região --*/


/*----------  CSS páginas internas ---------------------------*/ 

/* css global */

.blocoConteudo {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    margin: 0px;
    padding: 40px 0;
}

.blocoConteudo .contRight .wrapBanner{
    margin-bottom: 20px
}
.blocoConteudo .contRight .wrapBanner img{
    max-width: 100%;
}

/* fim css global */

/* css programação */

.blocoMenuProgramacao{
    width: 100%;
    margin: 35px 0;
    float: left;
}
.blocoMenuProgramacao .menuProgramacao{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.blocoMenuProgramacao .menuProgramacao .ativo{
    background: #EC9136 !important;
}
.blocoMenuProgramacao .menuProgramacao a, .menuProgramacao a:hover{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}
.blocoMenuProgramacao .menuProgramacao .semanal{
    float: left;
    background: #F2B576;
    text-align: center;
    padding: 15px;
    border-top-left-radius:80px;
    border-bottom-left-radius: 80px;
    display: inline;
}
.blocoMenuProgramacao .menuProgramacao .sabado{
    float: left;
    background: #F2B576;
    text-align: center;
    padding: 15px;
    display: inline;
}
.blocoMenuProgramacao .menuProgramacao .domingo{
    float: left;
    background: #F2B576;
    text-align: center;
    padding: 15px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    display: inline;
}
.blocoProgramacao{
    width: 100%;
    margin: 35px 0;
    float: left;
}
.blocoProgramacao .linhaPrograma{
    width: 100%;
    float: left;
}
.blocoProgramacao .linhaPrograma .programa {
    float: left;
    width: 100%;
    border: 1px solid #F3F3F3;
    padding: 15px;
    min-height: 260px;
    margin-right: 15px;
    text-align: center;
    background: #ffffff;
}
.blocoProgramacao .linhaPrograma .foto{
    max-height: 120px;
    max-width: 200px;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}
.blocoProgramacao .linhaPrograma .foto img{
    max-height: 120px;
}
.blocoProgramacao .linhaPrograma h3{
    font-size: 18px;
    margin-top: 15px
 }
 .blocoProgramacao .linhaPrograma .infos{
    clear: both;
    padding-top: 20px;
 }
 .blocoProgramacao .linhaPrograma .infos p{
    color: #999999;
    font-weight: 500;
 }
.blocoProgramacao .linhaPrograma .programaRight{
    float: right;
    width: 100%;
    margin-left: 15px;
    margin-right: 0;
}

.blocoProgramacao .linhaPrograma .conexaoPrograma {
    float: left;
    width: 100%;
    text-align: center;
    height: 45px;
    z-index: 0;
    overflow: hidden;
    
}
.blocoProgramacao .linhaPrograma .conexaoPrograma img{
    margin-top: -107px;
}

.blocoProgramacao .linhaPrograma .conexaoProgramaRight{
    float: left;
    width: 100%;
    text-align: center;
    height: 45px;
    z-index: 0;
    overflow: hidden;
}


.blocoProgramacaoDescricao{
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.blocoProgramacaoDescricao .foto{
    max-height: 150px;
    max-width: 200px;
    overflow: hidden;
    float: left;
    margin-right: 30px;
 }
 .blocoProgramacaoDescricao .foto img{
    max-height: 150px;
}
.blocoProgramacaoDescricao  h3{
    font-size: 18px;
    margin-top: 15px
}
.blocoProgramacaoDescricao p{
    color: #333333;
}
.blocoProgramacaoDescricao .infos{
    clear: both;
    padding-top: 20px;
 }
 .blocoProgramacaoDescricao .infos p{
    color: #999999;
    font-weight: 500;
 }
/* fim menu programacao */

/* menu programacao descricao */


/* fim menu programacao descricao */

/* css noticias  */
.blocoNoticias .noticia{
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
 .blocoNoticias .noticia .foto {
    max-height: 88px;
    max-width: 110px;
    overflow: hidden;
    float: left;
    margin-right: 14px;
    min-width: 110px;
    text-align: center;
}
.blocoNoticias .noticia .foto img {
    max-height: 88px;
}
.blocoNoticias .noticia h3 {
    font-size: 15px;
    margin-top: 0;
}
.bloconoticias .noticia .wrapSpamCategoria{
    height: 30px;
}
.blocoNoticias .noticia .wrapSpamCategoria .categoria{
    padding: 5px 15px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;  
    float: left;
    margin-right: 15px;
}
.blocoNoticias .noticia  p{
    color: #999999;
    font-weight: 500;
    margin-bottom: 0
}

.blocoMaisLidas .noticia{
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.blocoMaisLidas .noticia .foto{
    max-height: 70px;
    max-width: 90px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
}
.blocoMaisLidas .noticia .foto img{
    max-height: 70px;
}
.blocoMaisLidas .noticia  h3{
    font-size: 14px;
    margin-top: 15px
}
.blocoMaisLidas .noticia .categoria{
    padding: 5px 15px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;  
}

.blocoMaisLidas .noticia  p{
    color: #999999;
    font-weight: 500;
}


.blocoNoticiaDescricao{
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.blocoNoticiaDescricao .headDescNoticia{
    width: 100%;
}
.blocoNoticiaDescricao .headDescNoticia .categoria{
    padding: 5px 15px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;  
    float: left;
    margin-right: 15px;
}
.blocoNoticiaDescricao .headDescNoticia p{
    font-weight: 500;
    color: #666666; 
    padding-top: 3px; 
}
.blocoNoticiaDescricao .foto{
    max-height: 150px;
    max-width: 200px;
    overflow: hidden;
    float: left;
    margin-right: 30px;
 }
 .blocoNoticiaDescricao .foto img{
    max-height: 150px;
}
.blocoNoticiaDescricao  h3{
    font-size: 22px;
    margin-top: 15px
}
.blocoNoticiaDescricao p{
    color: #333333;
}
.blocoNoticiaDescricao .infos{
    clear: both;
    padding-top: 20px;
 }
 .blocoNoticiaDescricao .infos p{
    color: #999999;
    font-weight: 500;
 }

/* fim css noticias  */


/* css top10  */
.blocoTop10 .top10 {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
}

.blocoTop10 .top10 .esquerda {
    float: left;
    width: 100%;
}
.blocoTop10 .top10 .direita{
    display:none;
}

.blocoTop10 .top10 .esquerda .foto{
    max-height: 150px;
    max-width: 200px;
    overflow: hidden;
    float: left;
    margin-right: 30px;
}
.blocoTop10 .top10 .esquerda .foto img{
    max-height: 90px;
}
.blocoTop10 .top10 .esquerda  a, .blocoTop10 .top10 .esquerda a:hover{
    display: block;
    position: relative;
}
.blocoTop10 .top10 .esquerda .foto .btPlayYoutube{
    position: absolute;
    top: 35%;
    left: 35%;
}
.blocoTop10 .top10 .esquerda .foto .btPlayYoutube img{
    max-width: 40px;
}
.blocoTop10 .top10 .esquerda h3{
    font-size: 16px;
    margin-top: 20px;
}
.blocoTop10 .top10 .direita span{
    display: block;
    float: left;
    height: 70px;
    margin-right: 15px;
    padding-top: 16px;
    font-weight: 700;
    color: #E87E13;
}
/* fim css top10  */


/* css videos  */
.blocoVideos{
    width: 100%;

}
.blocoVideos .video{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    min-height: 450px;
    min-height: 315px;

}
.blocoVideos .video.ultimo{
    margin-right: 0;
}
.blocoVideos .video  a, .blocoVideos .video a:hover{
    display: block;
    position: relative;
}
.blocoVideos .video .btPlayYoutube{
    position: absolute;
    top: 39%;
    left: 39%;
}
.blocoVideos .video p{
    font-weight: 500;
    padding-top: 15px;

}
/* fim css videos  */

/* css promocoes  */

.blocoPromocoes{
    width: 100%;

}
.blocoPromocoes .promocao{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    min-height: 450px;
    min-height: 315px;
}
.blocoPromocoes .promocao .foto{
    overflow: hidden;
    width: 100%;
    height: 240px;
}
.blocoPromocoes .promocao .foto img{
    max-width: 100%;
}
.blocoPromocoes .promocao.ultimo{
    margin-right: 0;
}
.blocoPromocoes .promocao p{
    font-weight: 500;
    padding-top: 15px;

}
.blocoPromocoes .promocao h3{
    font-size: 16px;
    padding-top: 15px;
}
.blocoPromocoes .promocao span{
    color: #666666;
    text-align: right;
    display: block;
}

.blocoPromocoesDescricao .foto{
    max-height: 150px;
    max-width: 200px;
    overflow: hidden;
    float: left;
    margin-right: 30px;
 }
 .blocoPromocoesDescricao .foto img{
    max-height: 150px;
}
.blocoPromocoesDescricao  h3{
    font-size: 22px;
    margin-top: 15px
}
.blocoPromocoesDescricao p{
    color: #333333;
}

/* fim css promocoes  */


/* css promocoes  */

.blocoEventos{
    width: 100%;

}

.blocoEventos .evento {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    min-width: 45%;
    min-height: 450px;
    min-height: 315px;
}
.blocoEventos .evento .foto{
    overflow: hidden;
    width: 100%;
    height: 240px;
}
.blocoEventos .evento .foto img{
    max-height: 100%;
    min-width: 100%;
}
.blocoEventos .evento.ultimo{
    margin-right: 0;
}
.blocoEventos .evento p{
    font-weight: 500;
    padding-top: 15px;

}
.blocoEventos .evento h3{
    font-size: 16px;
    padding-top: 15px;
}
.blocoEventos .evento span{
    color: #666666;
    text-align: right;
    display: block;
}

.blocoEventosDescricao .foto{
    max-height: 150px;
    max-width: 200px;
    overflow: hidden;
    float: left;
    margin-right: 30px;
 }
 .blocoEventosDescricao .foto img{
    max-height: 150px;
}
.blocoEventosDescricao  h3{
    font-size: 22px;
    margin-top: 15px
}
.blocoEventosDescricao p{
    color: #333333;
}

/* fim css promocoes  */

/* bolsa de empregos */

.blocoBolsaDeEmpregos{
    width: 100%;
}
.blocoBolsaDeEmpregos .bolsaDeEmpregos{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.blocoBolsaDeEmpregos .bolsaDeEmpregos.ultimo{
    margin-right: 0;
}
 .blocoBolsaDeEmpregos .bolsaDeEmpregos .foto {
    max-height: 88px;
    max-width: 110px;
    overflow: hidden;
    float: left;
    margin-right: 14px;
    min-width: 110px;
    text-align: center;
}
 .blocoBolsaDeEmpregos .bolsaDeEmpregos .foto img{
    max-height: 88px;

}
.blocoBolsaDeEmpregos .bolsaDeEmpregos p{
    font-weight: 500;
    padding-top: 15px;
}
.blocoBolsaDeEmpregos .bolsaDeEmpregos  h3{
    font-size: 16px;
    margin-top: 15px
}

/* bolsa de empregos */

.blocoDocumentosPerdidos{
    width: 100%;
}
.blocoDocumentosPerdidos .documentosPerdidos{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.blocoDocumentosPerdidos .documentosPerdidos.ultimo{
    margin-right: 0;
}
.blocoDocumentosPerdidos .documentosPerdidos .foto {
    max-height: 88px;
    max-width: 110px;
    overflow: hidden;
    float: left;
    margin-right: 14px;
    min-width: 110px;
    text-align: center;
}
.blocoDocumentosPerdidos .documentosPerdidos  .foto img{
    max-height: 88px;

}
.blocoDocumentosPerdidos .documentosPerdidos p{
    font-weight: 500;
    padding-top: 15px;
}
.blocoDocumentosPerdidos .documentosPerdidos  h3{
    font-size: 16px;
    margin-top: 15px
}



/* .blocoHistoria{
    margin: 0 35px;
}
.blocoHistoria .ano{
    height: 34px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.blocoHistoria .separador{
    height: 35px;
    background: url('../img/separadorHorizontal.png') no-repeat center center;
}
.blocoHistoria p{

} */

.blocoHistoria{
    width: 100%;
    margin: 35px 0;
    float: left;
}
.blocoHistoria .linhaHistoria{
    width: 100%;
    float: left;
}
.blocoHistoria .linhaHistoria .historia {
    float: left;
    width: 100%;
    border: 1px solid #F3F3F3;
    padding: 15px;
    min-height: 260px;
    margin-right: 15px;
    text-align: center;
    background: #ffffff;
}
.blocoHistoria .linhaHistoria .historia .ano {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
.blocoHistoria .linhaHistoria .foto{
    max-height: 120px;
    max-width: 200px;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}
.blocoHistoria .linhaHistoria .foto img{
    max-height: 120px;
}
.blocoHistoria .linhaHistoria h3{
    font-size: 18px;
    margin-top: 15px
 }
 .blocoHistoria .linhaHistoria .infos{
    clear: both;
    padding-top: 20px;
 }
 .blocoHistoria .linhaHistoria .infos p{
    color: #999999;
    font-weight: 500;
 }
.blocoHistoria .linhaHistoria .historiaRight{
    float: right;
    width: 100%;
    margin-left: 15px;
    margin-right: 0;
}

.blocoHistoria .linhaHistoria .conexaoHistoria {
    float: left;
    width: 100%;
    text-align: center;
    height: 45px;
    z-index: 0;
    overflow: hidden;
    
}
.blocoHistoria .linhaHistoria .conexaoHistoria.ultima{
    display: none;
}
.blocoHistoria .linhaHistoria .conexaoHistoria img{
    margin-top: -107px;
}

.blocoHistoria .linhaHistoria .conexaoHistoriaRight{
    float: left;
    width: 100%;
    text-align: center;
    height: 45px;
    z-index: 0;
    overflow: hidden;
}


.blocoEquipe{
    /* margin: 0 35px; */
}
.blocoEquipe .fotoEquipe{
    margin-left: auto;
    margin-right: auto;
}
.blocoEquipe .fotoEquipe img{
    max-width: 100%
}
.blocoContato .btContato_bc{
    background-color: #2d82a5;
    float: right;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 25px;
}
.blocoContato .btContato_bl{
    background-color: #eb8e31;
    float: right;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 25px;
}
.blocoContato .btContato_lg{
    background-color: #27821d;
    float: right;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 25px;
}
.mapaContato{
    margin-top: 50px;
    text-align: center
}

/* Responsivo */
@media only screen and (max-width: 786px) {
    .topo {
        text-align: center;
    }
    .blocoMenu{
        margin:20px 0;
    }
    .blocoMenu .logo {
        text-align: center;
        padding-top: 15px;
    }
    .blocoMenu .slogam span {
        font-size: 1.1em;
    }
    .blocoMenu .selRegiao .wrapFormRegiao {
        margin-top: 35px;
        margin-right: auto;
        margin-left: auto;
        float: none !important;
    }
    .formBusca-toggler{
        display:block;
    }
    .formBusca{
        display:none;
    }
    .outrasNoticias{
        margin: 0px;
    }
}
/* Responsivo */
@media only screen and (min-width: 980px) {
    .tituloPadrao1{
        width: 100%;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 22px;
        margin-bottom: 30px;
        text-align: left
    }
    .tituloPadrao2{
        width: 100%;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 22px;
        color: #ffffff;
        margin-bottom: 30px; 
        text-align: left
    }
    
    .tituloPadrao3{
        width: 100%;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 22px;
        margin-bottom: 30px;
        text-align: left;
    }
    .formBusca-toggler{
        display:none;
    }
    .formBusca{
        display:block;
    }

    /*noticias destaque Home */
    .destaquePrincipal{
        padding-left: 0px;
        margin-bottom: 0px; 
    }
    .destaquePrincipal .noticiaPrincipal{
        height: 35rem;
        border-radius: 3px;
    }
    .destaquePrincipal .noticiaPrincipal .infPrincipal{
        margin-top: 45%;
        float: left;
        padding: 25px;
        color: #ffffff;
        font-size: 2rem;
    }
    .destaquePrincipal .noticiaPrincipal .infPrincipal h3{
        font-size: 2rem;
    }
    .destaquePrincipal .noticiaPrincipal .infPrincipal p{
        font-size: 16px;
    }

    .destaque{
        padding-right: 0px;
    }
    .destaque .noticia{
        height: 16.4rem;
        border-radius: 3px;
    }
    .destaque .noticia .inf{
        margin-top: 25%;
        float: left;
        padding: 10px;
        color: #ffffff;
    }
    .destaque .noticia .inf h3{
        font-size: 20px;
    }
    .destaque .noticia.ultima{
        margin-top: 30px;
    }
    .publicidade{
        margin: 50px 0;
    }
    .promocoesEventos.promocoesEventos_bc{
        background-size: 200%;
    }
    .promocoesEventos.promocoesEventos_bl{
        background-size: 200%;
    }
    .promocoesEventos.promocoesEventos_lg{
        background-size: 200%;
    }
    .promocoesEventos{
        padding:60px 0;
    }

    .promocoesEventos .wrapFoto{
        border: 1px solid #fff;
        padding: 7px;
        margin-right: 15px;
        float: left;
        width: auto;
    }
    .promocoesEventos .wrapFoto .foto{
        overflow: hidden;
        max-width: 240px;
        max-height: 180px;
    }
    .promocoesEventos .wrapFoto .foto img{
        max-width: 100%;
    }
    .promocoesEventos .evento{
        margin-top: 0px;
    }
    .promocoesEventos .link_descricao.mais {
        text-align: left;
    }
    .progEnqMsg .btVerMais{
        font-weight: bold;
        color: #a8a9aa;
        text-decoration: none;
        margin-top: 8px;
        float: left;
    }
    .blocoConteudo{
        background: rgba(255, 255, 255, 0.8);
        border-radius: 5px;
        margin: 0px -15px;
        padding: 40px 0;
    }
    .blocoConteudo .contLeft{
        padding-left:50px;
    }

    .blocoConteudo .contRight{
        padding-right: 50px;
    }
    .blocoConteudo .contLeftRight{
        padding: 0 50px;
    }

    .blocoMenuProgramacao .menuProgramacao{
        position: relative;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .blocoMenuProgramacao .menuProgramacao .semanal{
        float: left;
        background: #F2B576;
        text-align: center;
        padding: 15px 20px;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
        display: inline;
    }
    .blocoMenuProgramacao .menuProgramacao .sabado{
        float: left;
        background: #F2B576;
        text-align: center;
        padding: 15px 20px;
        display: inline;
    }
    .blocoMenuProgramacao .menuProgramacao .domingo{
        float: left;
        background: #F2B576;
        text-align: center;
        padding: 15px 20px;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
        display: inline;
    }

    .blocoProgramacao .linhaPrograma .programa{
        width: 46.58%;
    }
    .blocoProgramacao .linhaPrograma .conexaoPrograma{
        width: 2.65%;
        float: left;
        min-height: 260px;
    }
    .blocoProgramacao .linhaPrograma .conexaoPrograma img{
        margin-top:0px
    }
    .blocoProgramacao .linhaPrograma .programaRight{
        width: 46.57%;
    }
    .blocoProgramacao .linhaPrograma .conexaoProgramaRight{
        width: 2.65%;
        float: right;
        min-height: 258px;
    }
    .blocoProgramacao .linhaPrograma .conexaoProgramaRight img{
        margin-top:0px
    }

    

    .progEnqMsg .wrapSemEnquete{
        min-height: 343px;
    }
    .blocoNoticias .noticia .foto{
        max-height: 150px;
        max-width: 200px;
        overflow: hidden;
        float: left;
        margin-right: 30px;
        min-width: 200px;
        text-align: center; 
     }
     .blocoNoticias .noticia .foto img{
        max-height: 150px;
    }
    .blocoNoticias .noticia  h3{
        font-size: 18px;
        margin-top: 15px
    }
    .bloconoticias .noticia .wrapSpamCategoria{
        height: auto;
    }
    .blocoTop10 .top10 .esquerda{
        float: left;
        width: 70%;
    }
    .blocoTop10 .top10 .direita{
        width: 30%;
        float: right;
        padding-top: 18px;
        text-align: center;
        display: block
    }
    .wrap-navBar-toggle{
        display: none
    }
    .blocoEventos .evento{
        max-width: 45%;
    }

    .blocoVideos .video {
        max-width: 45%;
    }
    .blocoPromocoes .promocao{
        max-width: 45%;
    }
    .blocoBolsaDeEmpregos .bolsaDeEmpregos .foto{
        max-height: 150px;
        max-width: 200px;
        overflow: hidden;
        float: left;
        margin-right: 30px;
     }
     .blocoBolsaDeEmpregos .bolsaDeEmpregos .foto img{
        max-height: 150px;
    
    }
    .blocoDocumentosPerdidos .documentosPerdidos .foto{
        max-height: 150px;
        max-width: 200px;
        overflow: hidden;
        float: left;
        margin-right: 30px;
     }
     .blocoDocumentosPerdidos .documentosPerdidos .foto img{
        max-height: 150px;
    
    }

    .blocoHistoria .linhaHistoria .historia{
        width: 46.58%;
    }
    .blocoHistoria .linhaHistoria .conexaoHistoria{
        width: 4.1%;
        float: left;
        min-height: 260px;
    }
    .blocoHistoria .linhaHistoria .conexaoHistoria.ultima{
        display: block;
    }
    .blocoHistoria .linhaHistoria .conexaoHistoria img{
        margin-top:0px
    }
    .blocoHistoria .linhaHistoria .historiaRight{
        width: 46.57%;
    }
    .blocoHistoria .linhaHistoria .conexaoHistoriaRight{
        width: 4.1%;
        float: right;
        min-height: 258px;
    }
    .blocoHistoria .linhaHistoria .conexaoHistoriaRight img{
        margin-top:0px
    }



    .redes{
        padding: 60px 100px;
    }

    .redes .face{
        margin-bottom: 10px;
    }
    .unidades .unidade{
        text-align: left;

      }

    
    

}