/*-- conteúdos --*/

/*-- região --*/
.tituloPadrao1{
    width: 100%;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 22px;
}
.tituloPadrao1 span{
    border-bottom: 3px solid #27821d;
    padding-bottom: 20px;
    font-family: "microgrammadmedextregular";
    font-size: 28px;
}
.tituloPadrao2{
    width: 100%;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 22px;
}
.tituloPadrao2 span{
    border-bottom: 3px solid #27821d;
    padding-bottom: 20px;
    font-family: "microgrammadmedextregular";
    font-size: 28px;
}

.destaques{
    margin-bottom: 50px;
}
.destaquePrincipal{
    width: 50%;
    float: left;
    height:40em; 
}
.destaque{
    float: left;
    width: 50%;
    height:20em;
}
.outrasNoticias{
    margin-bottom: 50px;
}
.outrasNoticias .noticia{
    padding-left: 0px;
}
.outrasNoticias .noticia .categoria{
    margin: 20px 0;
}
.outrasNoticias .noticia .categoria span{
    padding: 5px 15px;
    background: #cccccc;
    border-radius: 5px;
}
.outrasNoticias .noticia h2{
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
} 
.publicidade{
    margin: 50px 0;
}
.publicidade img{
    margin-left: auto;
    margin-right: auto;
}

.promocoesEventos{

}
.promocoesEventos{
    padding:100px;
}
.promocoesEventos.promocoesEventos_bc{
    background: url(../img/redes_bc.jpg);
}
.promocoesEventos.promocoesEventos_bl{
    background: url(../img/redes_bl.jpg);
}
.promocoesEventos.promocoesEventos_lg{
    background: url(../img/redes_lg.jpg);
}

/*-- FIM classe região --*/