/* CELULAS DA LISTAGEM */

.divTableLista .divTd:nth-child(1)
{
    width: 25px;
}
.divTableLista .divTd:nth-child(2)
{
    text-align: left;
    padding-left: 7px;
    width: 740px;
}
.divTableLista .divTd:nth-child(3)
{
    text-align: Center;
    padding-left: 7px;
    width: 100px;
}
.divTableLista .divTd:nth-child(4)
{
    width: 80px;
}
/* FIM - CELULAS DA LISTAGEM */